<!DOCTYPE html>
<html>

<head>
    <title>GALAXY MERCHANT TRADING GUIDE</title>
    <link href="/assets/css/vuetify.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">  
</head>

<body>
    <div id="app">
        <div id="loadingpage" v-if="loading_page"></div>
        <v-app>
            <v-content>

                <div id="e3" style="max-width: 400px; margin: auto;" class="grey lighten-3">
                    <v-card-title class="grey lighten-3 bold"> conversion between intergalactic units and roman numerals</v-card-title>

                    <v-card>
                        <v-container fluid grid-list-lg>
                            <h3 class="mb-3">Test Input: <a  v-show="!showTestInput"v-on:click="showTestInput=true">[edit]</a><a class="red--text" v-show="showTestInput"v-on:click="showTestInput=false">[close]</a></h3>
                            <v-flex v-show="showTestInput">
                                <v-layout row wrap row v-for="(i, index) in testInputs" :key="'a'+index">
                                    <v-flex xs6>
                                        <v-text-field v-model="i.unit" outline v-on:change="changeUnitName(i.unit, index)" label="Unit name" hint='do not use space' maxtlength="20" required></v-text-field>
                                    </v-flex>
                                    <v-flex xs6>
                                        <v-text-field v-model="i.romanS" :rules="romanSymbolRules" v-on:change="changeSymbol(i.romanS, index)" outline label="Romawi symbols" hint='eg. "I" "V" "X" "L"' maxtlength="20" required></v-text-field>
                                    </v-flex>
                                </v-layout>
                                <v-flex xs12 text-xs-right><v-btn dark color="blue" small v-on:click="addTestInput()">add more</v-btn></v-flex>
                                <hr />
                                <p>&nbsp;</p>

                                
                                <v-layout row v-for="(i, index) in testInputs2" :key="'b'+index">
                                    <v-flex xs4>
                                        <v-text-field v-model="i.units" outline label="Units" v-on:change="changeUnits(i.units, index)" hint='eg. "glob glob"' maxtlength="20" required></v-text-field>
                                    </v-flex>
                                    <v-flex xs4>
                                        <v-text-field v-model="i.item" outline label="Item" v-on:change="changeItemName(i.item, index)" hint='do not use space' maxtlength="20" required></v-text-field>
                                    </v-flex>
                                    <v-flex xs4>
                                        <v-text-field v-model="i.credits" outline type="number" label="Credits" hint='eg. "100"' maxtlength="20" required></v-text-field>
                                    </v-flex>                                
                                </v-layout>
                                <v-flex text-xs-right><v-btn dark color="blue" small v-on:click="addTestInput2()">add more</v-btn></v-flex>
                            </v-flex>
                            <hr />                            
                            <p>&nbsp;</p>

                            <h3>Questions</h3>
                            <v-layout row wrap v-for="(i, index) in FAQs" :key="'c'+index" mb-4 mt-3 faqs>
                                <v-flex xs12>
                                    <v-text-field v-model="i.q" v-on:change="changeQuestion(i.q, index)" outline :label="(i.type=='number')?'How much is': ((i.type=='credits') ? 'how many Credits': 'Question')" :hint="i.hint" maxtlength="20" required></v-text-field>
                                </v-flex>
                                <v-flex xs6>
                                        <v-btn :loading="i.loading" dark color="blue" small v-on:click="getAnswer(index, i.type, i.q)">click for answer</v-btn>
                                </v-flex>
                                <v-flex xs6>
                                    <div class="mt-2" v-html="i.a"></div>
                                </v-flex>                                
                            </v-layout>
                        </v-container>
                    </v-card>
                </div>

                <div id="e3" style="max-width: 400px; margin: auto;" class="grey lighten-3 mt-3">

                    <v-card mt-4>
                        <v-card-title class="grey lighten-3 bold">conversion roman numerals to number</v-card-title>
                        <v-card-text fluid grid-list-lg>

                            <v-form ref="form2" lazy-validation>
                                <v-text-field v-model="r2nInput" :rules="[v => !!v || 'Item is required']" label="Roman numerals" hint="eg. MMCCCXCIX" maxtlength="20" required></v-text-field>
                            </v-form>
                        </v-card-text>

                        <v-card-actions>
                            &nbsp; Result: <b class="ml-2 title green--text bold" v-html="r2nResult"></b>
                            <v-spacer></v-spacer>
                            <v-btn :loading="r2nLoading" color="blue" small dark v-on:click="r2nMethod()">Convert</v-btn>
                        </v-card-actions>
                    </v-card>
                </div>

                <div id="e3" style="max-width: 400px; margin: auto;" class="grey lighten-3 mt-3">

                    <v-card mt-4>
                        <v-card-title class="grey lighten-3 bold">conversion number to roman numerals</v-card-title>
                        <v-card-text fluid grid-list-lg>

                            <v-form ref="form3" lazy-validation>
                                <v-text-field v-model="n2rInput" :rules="[v => !!v || 'Item is required']" label="Number" hint="eg. 2019" maxtlength="20" required></v-text-field>
                            </v-form>
                        </v-card-text>

                        <v-card-actions>
                            &nbsp; Result: <b class="ml-2 title green--text bold" v-html="n2rResult"></b>
                            <v-spacer></v-spacer>
                            <v-btn :loading="n2rLoading" color="blue" small v-on:click="n2rMethod()" dark>Convert</v-btn>
                        </v-card-actions>
                    </v-card>
                </div>

            </v-content>
        </v-app>
    </div>

    <script src="/assets/js/vue.js"></script>
    <script src="/assets/js/vuetify.js"></script>
    <script src="/assets/js/axios.min.js"></script>
    <script>
        new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: () => ({                
                loading_page: true,
                showTestInput: false,
                romanSymbolRules: [
                    v => !!v || 'Name is required',
                    v => (v && (['i','v','x','l','c','d','m'].includes(v.toLowerCase()))) || '"eg. "I" "V" "X" "L" "C" "D" "M"'
                ],
                testInputs: [
                    {'unit': 'glob', 'romanS': 'I'},
                    {'unit': 'prok', 'romanS': 'V'},
                    {'unit': 'pish', 'romanS': 'X'},
                    {'unit': 'tegj', 'romanS': 'L'}
                ],
                testInputs2: [
                    {'units': 'glob glob', 'item': 'Silver', 'credits': '34'},
                    {'units': 'glob prok', 'item': 'Gold', 'credits': '57800'},
                    {'units': 'pish pish', 'item': 'Iron', 'credits': '3910'}
                ],
                FAQs: [
                    {'q': 'pish tegj glob glob', 'a': '', 'type': 'number', 'hint': 'eg. pish tegj glob glob', 'loading': false},
                    {'q': 'glob prok Silver', 'a': '', 'type': 'credits', 'hint': 'eg. glob prok Silver', 'loading': false},
                    {'q': 'glob prok Gold', 'a': '', 'type': 'credits', 'hint': 'eg. glob prok Gold', 'loading': false},
                    {'q': 'glob prok Iron', 'a': '', 'type': 'credits', 'hint': 'eg. glob prok Iron', 'loading': false},
                    {'q': 'wood could a woodchuck chuck if a woodchuck could chuck wood', 'a': '', 'type': 'number', 'loading': false},
                ],       

                r2nInput: '',
                r2nLoading: false,
                r2nResult: '',
                
                n2rInput: '',
                n2rLoading: false,     
                n2rResult: '',     
            }),
            mounted(){
                this.$nextTick(function () {          
                this.loading_page = false
                })          
            },
            methods: {
                changeUnitName(u, i){
                    this.testInputs[i].unit = u.replace(/[^a-zA-Z0-9]/g, "");
                },
                changeItemName(item, i){
                    this.testInputs2[i].item = item.replace(/[^a-zA-Z0-9]/g, "");
                },
                changeSymbol(romanS, i){
                    this.testInputs[i].romanS = this.testInputs[i].romanS.toUpperCase()
                    if(!['i','v','x','l','c','d','m'].includes(romanS.toLowerCase())){
                        this.testInputs[i].romanS = 'I'
                    }
                },
                changeQuestion(q, i){
                    this.FAQs[i].q = q.trim().replace(/\s\s+/g, ' ');
                },
                changeUnits(units, i){
                    this.testInputs2[i].units = units.trim().replace(/\s\s+/g, ' ');
                },                

                //string.replace(/\s\s+/g, ' ');               
                addTestInput(){
                    this.testInputs.push({'unit': '', 'romanS': ''})
                },
                addTestInput2(){
                    this.testInputs2.push({'units': '', 'item': '', 'credits': ''})
                },
                getAnswer(index, type, q){
                    this.FAQs[index]['loading'] = true

                        const axithis = this
                        axios.post('/answer',
                        {
                            testInputs: JSON.stringify(this.testInputs),
                            testInputs2: JSON.stringify(this.testInputs2),
                            faq: JSON.stringify({'q': q, 'type': type})                 
                        }).then(function (response) {                                
                            // console.log(response.data)
                            if(response.data.Valid){
                                axithis.FAQs[index]['a'] = response.data.Value
                            }else{
                                axithis.FAQs[index]['a'] = '<span class="red--text">Invalid entry</span>'
                            }                            
                            axithis.FAQs[index]['loading'] = false

                        }).catch(function (err) {
                            console.log(err)
                            alert('error')
                            axithis.FAQs[index]['loading'] = false
                        })                    
                },              
                r2nMethod(){
                    if (this.$refs.form2.validate()) {
                        this.r2nLoading = true
                        const axithis = this
                        axios.post('/conversion',
                        {
                            input: this.r2nInput,
                            mod: 'romanNumerals2number'                 
                        }).then(function (response) {                                
                            // console.log(response.data)
                            if(response.data.Valid){
                                axithis.r2nResult = response.data.Value
                            }else{
                                axithis.r2nResult = '<span class="red--text">Invalid entry</span>'
                            }                            
                            axithis.r2nLoading = false

                        }).catch(function (err) {
                            console.log(err)
                            alert('error')
                            axithis.r2nLoading = false
                        })
                    }                     
                },
                n2rMethod(){
                    if (this.$refs.form3.validate()) {
                        if(parseInt(this.n2rInput) > 3999){
                            this.n2rResult = '<span class="red--text">max. 3999</span>'
                            return false
                        }
                        this.n2rLoading = true
                        const axithis = this
                        axios.post('/conversion',
                        {
                            input: this.n2rInput,
                            mod: 'number2romanNumerals'                 
                        }).then(function (response) {                                
                            // console.log(response.data)
                            if(response.data.Valid){
                                axithis.n2rResult = response.data.Value
                            }else{
                                axithis.n2rResult = '<span class="red--text">Invalid entry</span>'
                            }                            
                            axithis.n2rLoading = false

                        }).catch(function (err) {
                            console.log(err)
                            alert('error')
                            axithis.n2rLoading = false
                        })
                    }                    
                }
            },
        })
    </script>
</body>

</html>